<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getlose.mytemplate">
    <!-- 開啓網路權限 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTemplate"
        android:usesCleartextTraffic="true">
        <activity android:name=".MaskActivity"></activity>
        <activity android:name=".SnakeActivity" />
        <activity android:name=".ViewModelActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".ComponentActivity" />
        <activity android:name=".ApiActivity" />
        <activity android:name=".UrlConnectActivity" />
        <activity android:name=".RoomActivity" />
        <activity android:name=".ContentProviderActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Service.CacheService" />
        <service android:name=".Service.CacheIntentService" />
    </application>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>